* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    margin:0 auto;
    font-family: "Roboto Light", serif;
    padding:5px;
    text-align:center;
    border:5px solid #0ff0;
}
div.inputBox{
    width:300px;
    height:300px;
    border:1px solid black;
    margin: 0 auto;
}
div.outerDiv {
    height:100%;
    margin: 0 auto;
    border: 1px solid black;
    background-color: white;
    height: 100%;
    background-color: rgba(255, 255, 255, .5);
    border-radius: 2px;
    padding:20px;
}
div.innerDiv{
    border-radius: 5px;
    margin: 0 auto;
    width: 300px;
    height:60px;
    background-color: black;
}
input[type="text"] {
    display: block;
    margin : 0 auto;
    font-style: normal;
}
button.searchButton {
    display: block;
    margin : 0 auto;
    font-style: normal;
}
img.centeredImage {
    display: inline-block;
    margin: 0 auto;
    font-style: normal;

}
h1.sigma{
    font-size: 20px;
}

div.infoDiv{
    height: 80px;
    background-color: darkblue;
}
div.imageDisplay{
    margin: 0 auto;
    opacity: 2;
    text-align: center;
    width: 400px;
    border: 1px solid black;
    border-bottom-width: 1px;
    border-radius: 1px;
    background-color: white;
}
img {
    height:120px;
    margin:0 auto;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    width:100%;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
body {
    background-color: deepskyblue;
    margin: 20px;
}
table.extraDisplay {
    margin: 0 auto;
    display: block;
}